<app-nav></app-nav>
<section class="profile-cont">
  <div class="img-back portrait">
    <img src="https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg" alt="">
  </div>
  <div class="content-cont">
    <article>
      <div class="datauser-container">
        <h2>{{ username }}</h2>
        <p class="email">{{ email }}</p>
      </div>
      <section class="reviews-cont">
        <app-review *ngFor="let review of reviews" [review]="review"></app-review>
      </section>
    </article>
  </div>
</section>