<section class="modal-container">
  <div class="backdrop"></div>
  <article class="book-info">
    <div>
      <app-button label=" Close" (btnClick)="onModalClose()"></app-button>
    </div>
    <section>
      <h2>{{ (book$ | async)?.title | orDefault }}</h2>
      <img src="" alt="">
      <p>Description</p>
      <p>Author</p>
      <p>id</p>
    </section>
    <section>
      <p>Reviews</p>
    </section>
    <section *ngIf="visibleForm">
      <form [formGroup]="createReviewForm">
        <app-input lable="Comment" formControlName="comment"></app-input>
        <app-input lable="Rating" formControlName="rating" type="number" placeholder="1-5"></app-input>
        <app-button label="Send" (btnClick)="onSubmit()"></app-button>
        <app-button label="Close" (btnClick)="onCreateReview()"></app-button>
      </form>
    </section>
    <div *ngIf="visibleForm ? false : true">
      <app-button label=" Create Review" (btnClick)="onCreateReview()"></app-button>
    </div>
  </article>
  <p>book-modal works!</p>
</section>