:host:not(.visible){
  display: none;
}
.modal-container{
  position: fixed;
  inset: 0;
  background-color: rgba(0 0 0 / .9);
  display: grid;
  place-items: center;
  z-index: 10;
  .book-info{
    background-color: white;
    padding: 1rem 2rem;
    width: 50rem;
  }
}
